NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18;
NET "clk" TNM_NET = TM_CLK;
TIMESPEC TS_CLK_100M = PERIOD "TM_CLK" 10 ns HIGH 50%;

NET "SEGMENT[0]" LOC = AB22 | IOSTANDARD = LVCMOS33;#a
NET "SEGMENT[1]" LOC = AD24 | IOSTANDARD = LVCMOS33;#b
NET "SEGMENT[2]" LOC = AD23 | IOSTANDARD = LVCMOS33;#c
NET "SEGMENT[3]" LOC = Y21 | IOSTANDARD = LVCMOS33;#d
NET "SEGMENT[4]" LOC = W20 | IOSTANDARD = LVCMOS33;#e
NET "SEGMENT[5]" LOC = AC24 | IOSTANDARD = LVCMOS33;#f
NET "SEGMENT[6]" LOC = AC23 | IOSTANDARD = LVCMOS33;#g
NET "SEGMENT[7]" LOC = AA22 | IOSTANDARD = LVCMOS33;#point

NET "AN[0]" LOC = AD21 | IOSTANDARD = LVCMOS33;
NET "AN[1]" LOC = AC21 | IOSTANDARD = LVCMOS33;
NET "AN[2]" LOC = AB21 | IOSTANDARD = LVCMOS33;
NET "AN[3]" LOC = AC22 | IOSTANDARD = LVCMOS33;

NET "SW[15]" LOC = AA10 | IOSTANDARD = LVCMOS15;
NET "SW[14]" LOC = AB10 | IOSTANDARD = LVCMOS15;
NET "SW[13]" LOC = AA13 | IOSTANDARD = LVCMOS15;
NET "SW[12]" LOC = AA12 | IOSTANDARD = LVCMOS15;
NET "SW[11]" LOC = Y13 | IOSTANDARD = LVCMOS15;
NET "SW[10]" LOC = Y12 | IOSTANDARD = LVCMOS15;
NET "SW[9]" LOC = AD11 | IOSTANDARD = LVCMOS15;
NET "SW[8]" LOC = AD10 | IOSTANDARD = LVCMOS15;
NET "SW[7]" LOC = AE10 | IOSTANDARD = LVCMOS15;
NET "SW[6]" LOC = AE12 | IOSTANDARD = LVCMOS15;
NET "SW[5]" LOC = AF12 | IOSTANDARD = LVCMOS15;
NET "SW[4]" LOC = AE8 | IOSTANDARD = LVCMOS15;
NET "SW[3]" LOC = AF8 | IOSTANDARD = LVCMOS15;
NET "SW[2]" LOC = AE13 | IOSTANDARD = LVCMOS15;
NET "SW[1]" LOC = AF13 | IOSTANDARD = LVCMOS15;
NET "SW[0]" LOC = AF10 | IOSTANDARD = LVCMOS15;