NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18;
NET "clk" TNM_NET = TM_CLK;
TIMESPEC TS_CLK_100M = PERIOD "TM_CLK" 10 ns HIGH 50%;

NET "SEG[0]" LOC = AB22 | IOSTANDARD = LVCMOS33;#a
NET "SEG[1]" LOC = AD24 | IOSTANDARD = LVCMOS33;#b
NET "SEG[2]" LOC = AD23 | IOSTANDARD = LVCMOS33;#c
NET "SEG[3]" LOC = Y21 | IOSTANDARD = LVCMOS33;#d
NET "SEG[4]" LOC = W20 | IOSTANDARD = LVCMOS33;#e
NET "SEG[5]" LOC = AC24 | IOSTANDARD = LVCMOS33;#f
NET "SEG[6]" LOC = AC23 | IOSTANDARD = LVCMOS33;#g
NET "SEG[7]" LOC = AA22 | IOSTANDARD = LVCMOS33;#point

NET "AN[0]" LOC = AD21 | IOSTANDARD = LVCMOS33;
NET "AN[1]" LOC = AC21 | IOSTANDARD = LVCMOS33;
NET "AN[2]" LOC = AB21 | IOSTANDARD = LVCMOS33;
NET "AN[3]" LOC = AC22 | IOSTANDARD = LVCMOS33;

NET "px" LOC = W23 | IOSTANDARD = LVCMOS33;