NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18;
NET "clk" TNM_NET = TM_CLK;
TIMESPEC TS_CLK_100M = PERIOD "TM_CLK" 10 ns HIGH 50%;

NET "SEGCLK" LOC = M24 | IOSTANDARD = LVCMOS33;
NET "SEGCLR" LOC = M20 | IOSTANDARD = LVCMOS33;
NET "SEGDT" LOC = L24 | IOSTANDARD = LVCMOS33;
NET "SEGEN" LOC = R18 | IOSTANDARD = LVCMOS33;